@import '../../App.scss';

.spinner {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
  }
  
  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $mainColor;
    border-color: $mainColor transparent $mainColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }