.Home {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    width:80%;
    max-width: 1200px;
    margin: 0 auto; 

    margin-top:5rem;

    .home-content{
      margin:0 auto;
      margin-top: 30px;

      .start-button{
        width:100%;
        padding:1rem 0;
        font-size: 1.2rem;
        letter-spacing: 3px;
        margin-top: 20px;
      }
    }
    
    .Title {
      padding:0 0 0.5rem 0;
      color: #555;
      font-size: 2rem;
    }
  
    .Description {
      font-size: 1rem;
      padding: 0;
    }

    .main-image {
      padding: 2rem;
      width: 90%;
      margin: 0 auto;
      margin-top: -35px;
    }
  }
  
