.Home {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto; 
    
    .Title {
      margin:1rem 0;
      margin-bottom: 1rem;
      color: #555;
      font-size: 2rem;
    
    }
  
    .Description {
      font-size: 1rem;
      padding: 0 2rem;
    }
  }
  
