@import '../../App.scss';

.data-map-grid{
    
    display: grid;
    // grid-template-columns: 70% 30%;
    margin: 4em 0;

    .download-button{
        margin: 0;
    }
    
    .dataMap{
    
        .Title {
            display: inline-flex;
            color: $grey;
            border-bottom: $mainColor solid 3px;
            line-height: 0.9;
            padding-bottom: 10px;
            font-size: 1.3rem;
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: .03em; 
          }

          .download-button-container{ 
              width:100%;
          }

     
    
        .map{
            height: 400px;
            position: relative;
            width: 100%;
        }
        .Datamap-info{
            font-size:10px;
            float: right;
            margin: -30px 1rem 1rem 1rem;
            i {
                float: left;
                margin: 0.2rem 0.5rem 0.2rem 0;
            }
            .areaColor{
                background: linear-gradient(-90deg, rgba(167,197,227,1), rgba(227,227,227,1));
                float: left;
                width:100px;
                height: 10px;
                margin: 3px 5px;
            }
            .countryColor{
                background: linear-gradient(-90deg, red, white);
                float: left;
                width:100px;
                height: 10px;
                margin: 3px 5px;
            }
        }

        @media only screen and (max-width: 720px) {
            .Datamap-info{
                margin: 0.2rem;
            }
          }
    
        .json-with-data{
            margin-top:1.5rem;
            max-height: 40vh;
            overflow: scroll;
            overflow-x:hidden;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-bottom: 1.5rem;
            border: 1px solid #dee2e6;
            padding: 1rem;
            border-radius: 4px;
            box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.7);
        }
    
    }
        
    .country-list{
        margin: 0;
        ul {
            list-style: none;
        }

        .linked-concepts-list {
            // max-height: 35vh; 
            overflow-y: hidden;
            overflow-x: hidden;
            margin-bottom: 0; 
        }
        
        .linked-concepts-list:hover {
            margin-right: -16px;
            overflow: scroll;
            overflow-x: hidden;
        }
        
        /* total width */
        .linked-concepts-list::-webkit-scrollbar {
            background-color:#fff;
            width:16px
        }
        
        /* background of the scrollbar except button or resizer */
        .linked-concepts-list::-webkit-scrollbar-track {
            background-color:#fff
        }
        
        /* scrollbar itself */
        .linked-concepts-list::-webkit-scrollbar-thumb {
            background-color:#babac0;
            border-radius:16px;
            border:4px solid #fff
        }

        @media only screen and (max-width: 720px) {
            .linked-concepts-list { 
                margin-bottom: 0;  
                margin-right: -16px;
                overflow: auto;
                overflow-x: hidden;
            }
          }
    }

}

.full-grid-item{
    grid-column-start: 1;
    grid-column-end: 3;
}

.country-list-sidebar {
    overflow-x: hidden;
    background:white;
    padding: 0 1rem;
}