.dataMap{
    margin: 4em 0;
    .Title{
        margin-bottom: -30px;
    }
    .map{
        height: 400px;
        position: relative;
        width: 100%;
    }
    .Datamap-info{
        font-size:10px;
        float: right;
        margin: -30px 1rem 1rem 1rem;
        i {
            float: left;
            margin: 0.2rem 0.5rem 0.2rem 0;
        }
        .areaColor{
            background: #B3CDE3;
            float: left;
            width:10px;
            height: 10px;
            margin: 3px 5px;
        }
        .countryColor{
            background: linear-gradient(-90deg, red, white);
            float: left;
            width:100px;
            height: 10px;
            margin: 3px 5px;
        }
    }
}
    