
.linked-concepts-container {

    .link {
        color: #007bff;
        cursor: pointer;
    }

    .download-button {
        
        width:100%;
        text-align: center;
        button {
            padding: 0.5rem 2rem;
            margin: 1.5rem 0;
        }
    }


    .link:hover {
        color: #0056b3;
    }

    .link-box {
        width:100%;

        p:first-child {
            float: right;
        }

        p:last-child {
            float: left;
        }
        margin-bottom: 5rem;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.keywords-list {
    height: 450px;
    max-height: 500px;
    overflow: scroll;
}

.grid-item{
    .BubbleChart-info{
        font-size:10px;
        .UNBIS{
            background: #B3CDE3;
            display: flex;
            float: left;
            width:10px;
            height: 10px;
            margin: 3px 5px;
        }
        .EuroVoc{
            background: #FBB4AE;
            display: flex;
            float: left;
            width:10px;
            height: 10px;
            margin: 3px 5px;
        }
    }
}