
.linked-concepts-container {

    .link {
        color: #007bff;
        cursor: pointer;
    }

    .download-button {
        
        button {
            float: right;
        }
    }


    .link:hover {
        color: #0056b3;
    }

    .link-box {
        width:100%;

        p:first-child {
            float: right;
        }

        p:last-child {
            float: left;
        }
        margin-bottom: 5rem;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.keywords-list {
    height: 500px;
    max-height: 500px;
    overflow: scroll;
}