.Upload {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
  }
  
  .Content {
    display: flex;
    text-align: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
  }
  
  .Title {
    margin:0 auto;
    margin-bottom: 1rem;
    color: #555;
  }

  .File-Upload {
      text-align: right;
      padding: 2rem;
      border-radius: 4%;  
      margin: 0 auto;
      margin-bottom: 2rem;
  }

  .File-Input {
      box-sizing: border-box;
      padding: 1rem;
      border: grey 2px solid;
  }

  .Data-Area {
    font-size: 1rem;
    padding: 0 4rem;
  }