.data-series-title{
    margin-top: 1rem;

    p {
        font-size: 12px;
    }
}

.table-series{
    table {
        overflow-x: scroll; 
        table-layout: unset;
        margin-bottom: 0; 
        thead tr th {
            min-width: 6rem!important; 
        }
    }

    .react-bootstrap-table-pagination{ 
        margin-top: 10px;
        ul {
            float: right;
        }
    }
}