@import '../../../App.scss';


.data-series-title{
    margin-top: 1rem;

    p {
        font-size: 12px;
    }
}

.table-series{
    .react-bootstrap-table{

        overflow: scroll; 
    
        table {
            table-layout: unset;
            margin-bottom: 0; 
            thead tr th {
                min-width: 100px!important; 
            }
        }
    }

    .react-bootstrap-table-pagination{ 
        margin-top: 10px;
        ul {
            float: right;

            a{
                color: $mainColor;
            }

            .active a {
                background-color: $mainColor;
                border-color: $mainColor;
                color: white!important;
            }

        }
    }

    .text-filter { 
        font-size:11px;  
        border:solid 1px #aacfe4; 
        margin: 0;
    }
    
    .filter-label{
        width: 100%;
        margin-bottom: 0;
    }


}