@import '../../App.scss';

.grid-container {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 20px;
    margin-bottom: 3rem;

    .country-series-info{
        .records-container{
            max-height: 500px;
            overflow: scroll;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        
        .records-container:hover {
            overflow: scroll;
            overflow-x: hidden;
        }

        .series-info {
            border-bottom: 1px #ccc solid;
            height: 24px;
            overflow: hidden;

            .series-country-country{
                margin:0;
            }

            .series-country-expand{
                margin-right: 5px;
                text-align: right;
                max-width: 15%;
                cursor: pointer;
            }

            .series-country-expand:hover{
                opacity: 0.6;
            }

            .series-country-json{
                ul{
                    padding:0;
                    margin: 5px 0 5px 20px;
                    list-style-type: none;
                    li{
                        font-size: 12px;
                    }
                } 
            }
        }
        .uri-link{
            margin: 1rem 0 0 0;
            cursor: pointer;
            color: #007bff;
        }

        p span {
            font-weight: 700;
            color: black;
        }
    }

    .country-series-info{
       margin-top: -25%;
    }


    svg { 
        width: 100%;
    }
    
    .goal-image{
        width: 100%;
    }

    .grid-container-info {
        display: grid;
        grid-template-columns:  30% auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        .grid-item-text{
            grid-column-start: 1; 
            grid-column-end: 3; 
            .uri-link{
                cursor: pointer;
                color: #007bff;
            }

            p span {
                font-weight: 700;
                color: black;
            }
        }

        .title {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 991px) {
    .grid-container{
        grid-template-columns: 100%;

        .goal-image-container{
            margin:0 auto;
            text-align: center;
        }
        .goal-image{
            width: 70%;
            margin: 0 auto;
        }
    }
    
    
  }