@import '../../App.scss';

.grid-container {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 3rem;

    svg { 
        width: 100%;
    }
    
    .goal-image{
        width: 100%;
    }

    .grid-container-info {
        display: grid;
        grid-template-columns:  30% auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        .grid-item-text{
            grid-column-start: 1; 
            grid-column-end: 3; 
            .uri-link{
                cursor: pointer;
                color: #007bff;
            }

            p span {
                font-weight: 700;
                color: black;
            }
        }

        .title {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 991px) {
    .grid-container{
        grid-template-columns: 100%;

        .goal-image-container{
            margin:0 auto;
            text-align: center;
        }
        .goal-image{
            width: 70%;
            margin: 0 auto;
        }
    }
    
    
  }