.Upload {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto; 

    .example-links {
      text-decoration: none;
      li{
        padding: 0.15rem 0;
      }
    }
  }
  
  .Content {
    display: flex;
    text-align: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
  }
  
  .Title {
    margin:1rem 0;
    margin-bottom: 1rem;
    color: #555;
    font-size: 2rem;
  
  }

  .Data-Area {
    font-size: 1rem;
    padding: 0 2rem;
    width:100%;
  }

  .clear-button{
    padding: 2rem 0;
    width:100%;
    text-align: center;
    button {
      padding: 0.4rem 2rem;
    }
  }