.Upload {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    width:80%;
    max-width: 1200px;
    margin: 0 auto; 
    margin-top:5rem;

    .Title {
      margin:0 0 2rem 0;
      margin-bottom: 1rem;
      color: #555;
      font-size: 2rem;
    
    }

    .upload-content{
      margin:0 auto;

      .analyze-button-container{
        margin:0 auto;
        text-align: center;
        display: flex; 
        justify-content: center;
        

        .analyze-button{
          width: 60%;
          height: 4rem;
          padding: 0;
          margin: 2rem 0;
        }
      }
    }

    .example-links {
      ul {
          text-decoration: none;
          list-style: none;
          li{
            padding: 0.15rem 0;

            span img{
              height: 1.4rem;
              margin: 0.2rem 0.5rem 0.2rem 0;
            }

            span:hover{
              opacity: 0.6;
              cursor: pointer;
            }
          }
      }
    }
  }
  
  .Content {
    display: flex;
    text-align: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
  }
  
  

  .Data-Area {
    font-size: 1rem;
    padding: 0 2rem;
    width:100%;
  }

  .clear-button{
    padding: 2rem 0;
    width:100%;
    text-align: center;
    button {
      padding: 0.4rem 2rem;
    }
  }