@import '../../App.scss';

.Upload-Content {
    width: 100%;
    font-family: 'Roboto';
    margin-top: 2rem;
    text-align: left;

    .Title{
        font-size: 2rem;
    }

    .File-Upload {
        text-align: center;
        padding: 2rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        border: grey 2px dashed;
        border-radius:50%;
        width: 16rem;
        height: 16rem;
    
        .File-Input {
            box-sizing: border-box;
            padding: 1rem;
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
    
        label {
            cursor: pointer;
            /* Style as you please, it will become the visible UI component. */
         }
    
         button {
             color: $white;
             margin:0;
             padding: 0.5rem 1.5rem;
         }
    
        img {
            max-width: 9rem;
            max-height: 9rem;
            margin:0 auto;
            opacity: 0.6;
        }

        p {
            margin: 0.5rem 1rem;
        }
    }
}



