@import '../../../App.scss';


.event-list-item {
    display: grid;
    grid-template-columns: 95% 5%;
    border-bottom: 1px $grey solid;
    padding: 0.3rem 0;

    button {     
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 1.5rem;
        background: none;
        border: none;
        color: $grey;
        padding: 0;
        margin: 0;
    }

    a {
        display: flex !important;
        float: left;
        margin: 0;
        line-height: 2rem;
    }
    
    a:hover{
        text-decoration: none;
    }

    button:hover,
    button:after,
    button:active,
    button:active:after,
    button:visited,
    button:focus {
        background: none !important;
        color: $grey !important;
        outline: none !important;
        border:none !important;
        box-shadow: none !important;
    }

    p {
        float: left;
        vertical-align: middle;
        margin: 0;
        line-height: 2rem;
    }

    .collapse-button{
        text-align: center;
    }
}