.Pane {
    display: block;
  }
  
  .box-grid {
      // overflow: hidden;
      background-color: #162B3A;
      margin: 0;
      font-size: calc(10px + 2vmin);
      color: white;
      display: grid;
      grid-template-columns: auto 33% auto;
      grid-template-rows: auto ;
      width: 100%;
    }

    .box-grid2{

      grid-template-columns: auto 50% ;
    }

    .box-grid3{
      
      grid-template-columns: auto 33% 33%;
    }
    
    h1{
      margin: 0;
    }
    
    .bottom-box {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    
    .playground{ 
        height: 99vh;
        width: 99%;
    }
     
    
  